* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
.header{
    display: flex;
    
}

.banner{
height: 50%;
width: 100%;
z-index: -1;
}

.boton{
    height: 30%;
    width: 20%;
    position: absolute;
    z-index: 1;
    margin-left: 6%;  
}
  

 /*------ Estilos tarjetas personajes -----*/

#show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
}

.pictureCharacter {
  display: inline-block;
  width: 200px;
  height: 270px;
  margin: 10%;
  
}

.card {
  width: 300px;
  height: 420px;
  padding: 20px;
  margin: 4px;
}

.card-inside {
  position: relative;
  width: 100%;
  height: 100%;
  top: 40%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.card-front {
  background-color: gray;
  
}

.card-back {
  color: #fff ;
  transform: rotateY(180deg);
  background-color: #3a3a3a;
  text-align: left;
  
  
}

.hide {
    display: none;
  }
  

.card:hover .card-inside{
    transform: rotateY(180deg);
  }

/* Tipografias */

.fontNameCharacter{
    font-family: 'Marcellus SC', serif;
    font-size: 20px;
    color: #050505;
    ;
}

h1 {
    font-size: 25px;
    margin: 25px 20px 18px;
    text-align: center;
    font-family: 'Marcellus SC', serif;
  }
  

p {
    font-size: 18px;
    margin: 15px 20px;
    text-align: left;
  }
  
  li {
    list-style-type: none;
  }
  

  div > li {
    font-size: 1.000em;
    margin: 3px;
    margin-left: 38px;
  }
  

  
 
  
 

  
  
  
  
  

  
 


