* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.header{
display: flex;
}

.banner{
height: 50%;
width: 100%;
z-index: -1;
}

.boton{
  height: 30%;
  width: 16%;
  position: absolute;
  z-index: 1;
  margin-left: 4%;  
}

/* Estilos del menu principal*/

a {
padding: 20px 40px 10px;
}

.principalMenuCategorie li:hover a, .principalMenuCategorie li a:focus {
background-color: cadetblue;
  
}

.principalMenuCategorie li a {
padding: 20px 40px 20px 80px;
}

/* Estilos de las subcategorías del menú principal */
#menu_general {
display: inline-block;
height: 100%;
position: fixed;  
background-color: #fff;
margin-left: 4%;
margin-top: 2.5%;
}

#menu_general li a {
display: flex;
align-items: center;
align-content: center;
text-decoration: none;
font-size: 22px;
line-height: 25px;
color: rgb(0, 0, 0);
justify-content: space-between;
flex-wrap: wrap;
margin-left: -16%;
}

#menu_general li ul {
height: 0;
overflow: hidden;
font-weight: bold;
}

#menu_general li:hover ul, #menu_general li:focus ul {
height: auto;
}

#menu_general li:hover li a, #menu_general li:focus li a {
font-family: 'Marcellus SC';
font-size: 16px;
line-height: 5px;
}


/*Estilos del filtro */

option {
font-size: 11px;
}

h1 {
font-size: 16px;
margin: 20px 20px 20px;
text-align: center;
}

h2 {
font-size: 116px;
color: #ffffff;
text-align: center;
margin: 20px 10px;
margin-top: -14px;
}

p {
font-size: 1.000em;
margin: 9px 20px;
}

li {
list-style-type: none;
}

div > li {
font-size: 1.000em;
margin: 3px;
margin-left: 38px;
}

/*Esto es para el buscador del menu principal*/

.container-4{
margin: 2.5% 0;
display: flex;
justify-content: center;
}

.container-4 input#search{
width: 100%;
height: 100%;
margin-top: 0px;
padding: 5%;
background: #336f8f;
border: none;
font-size: 12px;
color: #fff;
padding-left: 15px;
font-family: 'Marcellus SC';

}

.container-4 input#search::-webkit-input-placeholder {
color: white;
border: none;
}
.container-4 button.icon{
border: none;
font-size: 15pt;
margin-top: 0px;
}


/*Estilos del filtro */

#filterCategories {
  text-align: initial;
  position: relative;
  align-items: initial;
}

#filterSelection {
  background: #336f8f;
  border-radius: 7px;
  border-color: #659dbf;
  color: #ffffff;
  padding: 5px;
  margin: 20px 20px;
}

option {
  font-size: 11px;
}


/*------ Estilos tarjetas personajes -----*/

#show, #insertWands{

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center; 
color: #ffffff;
margin-left: 270px;
}



.pictureCharacter {
display: inline-block;
width: 200px;
height: 270px;
margin: 10%;

}

.card {
width: 350px;
height: 400px;
padding: 20px;
margin: 4px; 
}

.card-inside {
position: relative;
width: 80%;
height: 100%;
top: 40%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d; 
}

.card-front, .card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
margin-top: -50%;

}

.card-front {
background-color: gray;

}

.card-back {
color: #fff ;
transform: rotateY(180deg);
background-color: #3a3a3a;
text-align: left;
  
}

.hide {
  display: none;
}

.card:hover .card-inside{
  transform: rotateY(180deg);
}

/* Tipografias */

.fontNameCharacter{
  font-family: 'Marcellus SC', serif;
  font-size: 20px;
  color: #050505;
  
}

h1 {
  font-size: 25px;
  margin: 25px 20px 18px;
  text-align: center;
  font-family: 'Marcellus SC', serif;
}

/*RESPONSIVE */

@media (max-width:360px){
  .boton{
    height: 10%;
    width: 18%;
    margin-left: 5%;
    margin-top: -2%;
}

.card-front, .card-back {
  position: absolute;
  width: 60%;
  height: 70%;
  backface-visibility: hidden;
}

.pictureCharacter {
  display: inline-block;
  width: 130px;
  height: 170px;
  margin: 10%;
}

h1 {
  font-size: 15px;
  margin: 25px 20px 18px;
  text-align: center;
  font-family: 'Marcellus SC', serif;
}

p {
  font-size: 12px;
  margin: 5px 20px;
  text-align: left;
}

li {
list-style-type: none;
}

div > li {
font-size: 10px;
margin: 3px;
margin-left: 38px;
}
.menu{
height: 50%;
display: list-item;
margin-left: 10%;
list-style: none;
margin-top: 10%;
margin-bottom: -20%;

}

a {
color:rgb(0, 0, 0);
font-weight: 300;
text-decoration: none;
margin-right: 10px;
display: inline block;
font-size: 20px;
font-family: 'Marcellus SC', serif;

}

.icon-search {
  cursor: pointer;
  color: #000000;
  font-size: 20px;
  left: 70%;
  position: absolute;
  z-index: 1;
  margin-top: -3%;
}

.searchbar {
  background-color: #f3f3f3;
  color: #000000;
  width: 75%;
  height: 20%;
  margin: 20px 5px 10px -1px;
  padding: 8px 8px;
  font-family: 'Marcellus SC', serif;
  font-size: 12px;
  font-weight: bold;
  border: #000000 solid 1px;
  border-radius: 10px;
  margin-bottom: 10%;

  
}


.fab {
    font-family:  'Marcellus SC', serif;
}
}
/*

@media (max-width:768px){
  .boton{
    height: 18%;
    width: 15%;
    margin-left: 9%; 
    margin-top: 0%;

}

.icon-search {
  cursor: pointer;
  color: #000000;
  margin-top: -36px;
  font-size: 24px;
  left: 30%;
  position: absolute;
  z-index: 1;
}

.searchbar {
width: 30%;
height: 30%;

}
}
*/