* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
.header{
    display: flex;
    
}

.banner{
height: 50%;
width: 100%;
z-index: -1;
}

.boton{
    height: 30%;
    width: 16%;
    position: absolute;
    z-index: 1;
    margin-left: 8%;  
}
  

 /*------ Estilos tarjetas personajes -----*/

#show {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: #ffffff;
}

.pictureCharacter {
  display: inline-block;
  width: 200px;
  height: 270px;
  margin: 10%;
  
}

.card {
  width: 300px;
  height: 420px;
  padding: 20px;
  margin: 4px;
}

.card-inside {
  position: relative;
  width: 100%;
  height: 100%;
  top: 40%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  
}

.card-front {
  background-color: gray;
  
}

.card-back {
  color: #fff ;
  transform: rotateY(180deg);
  background-color: #3a3a3a;
  text-align: left;
  
  
}

.hide {
    display: none;
  }
  

.card:hover .card-inside{
    transform: rotateY(180deg);
  }

/* Tipografias */

.fontNameCharacter{
    font-family: 'Marcellus SC', serif;
    font-size: 20px;
    color: #050505;
    ;
}

h1 {
    font-size: 25px;
    margin: 25px 20px 18px;
    text-align: center;
    font-family: 'Marcellus SC', serif;
}
  

p {
    font-size: 18px;
    margin: 15px 20px;
    text-align: left;
}
  
  li {
    list-style-type: none;
}
  

  div > li {
    font-size: 16px;
    margin: 3px;
    margin-left: 38px;
}
/* Barra de busqueda */

.searchbar {
  background-color: #f3f3f3;
  color: #000000;
  width: 20%;
  height: 20%;
  margin: 20px 5px 5px -1px;
  padding: 8px 8px;
  font-family: 'Marcellus SC', serif;
  font-size: 12px;
  font-weight: bold;
  border: #000000 solid 1px;
  border-radius: 10px;
}

.icon-search {
  cursor: pointer;
  color: #000000;
  margin-top: -36px;
  font-size: 24px;
  left: 32%;
  position: absolute;
  z-index: 1;
}


.fab {
    font-family:  'Marcellus SC', serif;
}



/* Categorias */

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  color:rgb(0, 0, 0);
  font-weight: 300;
  text-decoration: none;
  margin-right: 30px;
  display: inline block;
  font-size: 20px;
  font-family: 'Marcellus SC', serif;


  }

  /*Responsive*/

  @media (max-width:360px){
    .boton{
      height: 11%;
      width: 20%;
      margin-left: 5%;
      margin-top: -2%;
}

  .card-front, .card-back {
    position: absolute;
    width: 60%;
    height: 70%;
    backface-visibility: hidden;
}

  .pictureCharacter {
    display: inline-block;
    width: 130px;
    height: 170px;
    margin: 10%;
}

  h1 {
    font-size: 15px;
    margin: 25px 20px 18px;
    text-align: center;
    font-family: 'Marcellus SC', serif;
}


  p {
    font-size: 12px;
    margin: 5px 20px;
    text-align: left;
}

  li {
  list-style-type: none;
}


div > li {
  font-size: 10px;
  margin: 3px;
  margin-left: 38px;
}
}


  @media (max-width:768px){
    .boton{
      height: 18%;
      width: 15%;
      margin-left: 9%; 
      margin-top: 0%;
  
  }
 
  .icon-search {
    cursor: pointer;
    color: #000000;
    margin-top: -36px;
    font-size: 24px;
    left: 30%;
    position: absolute;
    z-index: 1;
}

.searchbar {
  width: 30%;
  height: 30%;

}
 }